@charset "UTF-8";
@media (prefers-color-scheme: dark) {
  .header-wrap {
    background-color: #373737;
  }
  .header-wrap h1 {
    color: #ef3333;
  }
  body {
    background-color: #373737;
    color: white;
  }
  body .container {
    box-shadow: 5px 5px 10px #282828, -5px -5px 10px #464646;
  }
  .input-group input {
    background-color: #373737;
    color: white;
    box-shadow: inset 2px 2px 5px #282828, inset -5px -5px 10px #464646;
  }
  .input-group input:focus {
    box-shadow: inset 1px 1px 2px #282828, inset -1px -1px 2px #464646;
  }
  .input-group input::placeholder {
    color: white;
  }
  .cards .card {
    background-color: #373737;
    box-shadow: 5px 5px 10px #282828, -5px -5px 10px #464646;
  }
  .cards .card-text {
    color: white;
  }
  .card-detail {
    color: white;
  }
  ::selection {
    background: #ffffff;
    color: #373737;
  }
  a {
    color: white;
  }
  /*スクロールバー*/
  ::-webkit-scrollbar {
    background-color: #373737;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
  }
  ::-webkit-scrollbar-track {
    box-shadow: 5px 5px 10px #282828 inset, -5px -5px 10px #464646 inset;
  }
  ::-webkit-scrollbar-corner {
    background-color: #373737;
  }
}

@media (prefers-color-scheme: light) {
  .header-wrap {
    background-color: #e0e0e0;
  }
  .header-wrap h1 {
    color: #ef3333;
  }
  body {
    background-color: #e0e0e0;
    color: black;
  }
  body .container {
    box-shadow: 5px 5px 10px #a1a1a1, -5px -5px 10px #ffffff;
  }
  .input-group input {
    background-color: #e0e0e0;
    color: black;
    box-shadow: inset 2px 2px 5px #a1a1a1, inset -5px -5px 10px #ffffff;
  }
  .input-group input:focus {
    box-shadow: inset 1px 1px 2px #a1a1a1, inset -1px -1px 2px #ffffff;
  }
  .input-group input::placeholder {
    color: black;
  }
  .cards .card {
    background-color: #e0e0e0;
    box-shadow: 5px 5px 10px #a1a1a1, -5px -5px 10px #ffffff;
  }
  .cards .card-text {
    color: black;
  }
  .card-detail {
    color: black;
  }
  ::selection {
    background: #000000;
    color: #e0e0e0;
  }
  a {
    color: black;
  }
  /*スクロールバー*/
  ::-webkit-scrollbar {
    background-color: #e0e0e0;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #373737;
  }
  ::-webkit-scrollbar-track {
    box-shadow: 5px 5px 10px #a1a1a1 inset, -5px -5px 10px #ffffff inset;
  }
  ::-webkit-scrollbar-corner {
    background-color: #e0e0e0;
  }
}

/*ヘッダー*/
.header-wrap {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 97%;
  height: 50px;
  font-family: 'Noto Sans JP';
  align-items: center;
  padding-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
}

.header-wrap .menu-group {
  padding-right: 30px;
}

.header-wrap h1 {
  margin-right: auto;
  margin-left: 80px;
}

.header-wrap li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
  font-size: 15px;
}

.header-wrap a {
  display: block;
  text-decoration: none;
  border-radius: 1px;
  padding: 10px 3px;
  text-align: left;
}

/*本体*/
body {
  z-index: 2;
  margin-top: 100px;
  font-family: 'Noto Sans JP', sans-serif;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

body h1 {
  text-align: center;
}

body p {
  text-align: center;
}

body .container {
  margin-right: 5vw;
  margin-left: 3vw;
  border-radius: 50px;
}

/*フッター*/
footer {
  z-index: 1;
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  bottom: 0;
}

/*カード*/
.cards {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*.card:nth-child(4n)
        margin-right: 0*/
}

.cards .card {
  object-fit: cover;
  float: left;
  flex: 0 1 250px;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.cards .card-top {
  flex-shrink: 0;
  position: relative;
}

.cards .care-top-img-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cards .card-top-img {
  position: relative;
  user-select: none;
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  width: 250px;
  object-fit: cover;
}

.cards .card-top-img:hover {
  transform: scale(120%, 80%);
}

.cards .card-top-title {
  position: absolute;
  bottom: 4.5px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.cards .card-title {
  color: #fff;
  font-size: 20px;
  padding-left: 10px;
  margin: 0;
}

.cards .card-main {
  position: relative;
  margin-top: 5px;
}

.cards .card-tag {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.cards .card-tag-btn {
  float: left;
  list-style: none;
  color: black;
  font-family: Inter;
  font-weight: 700;
  background-color: #48FF5B;
  border-radius: 20px;
  padding: 0px 7px;
  margin: 0px 3px 3px 0px;
  font-size: 15px;
}

.cards .card-tag-btn:last-child {
  margin-right: 0;
}

.cards .hardware {
  user-select: none;
  background-color: #48FF5B;
}

.cards .genre {
  user-select: none;
  background-color: #FFB800;
}

.cards .card-text {
  position: relative;
  text-align: left;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1;
  font-size: 15px;
  line-height: 1.5;
}

/*詳細サイト*/
.card-detail h1 {
  text-align: left;
  padding-left: 40px;
}

.cardimage-up {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-wrap: wrap;
}

.cardimage-up ul {
  text-align: left;
  padding-left: 0px;
}

.cardimage-up li {
  float: left;
  list-style: none;
  color: black;
  font-family: Inter;
  font-weight: 700;
  background-color: #48FF5B;
  border-radius: 20px;
  padding: 0px 8px;
  margin: 0px 5px 5px 0px;
}

.cardimage-up p {
  text-align: left;
}

.cardimage-up .genre {
  background-color: #FFB800;
}

.cardimage-up .cardimage-up-left {
  padding-left: 40px;
  width: 460px;
  display: block;
  flex-basis: auto;
  flex-grow: 1;
}

.cardimage-up img {
  object-fit: cover;
}

.cardimage-up .card-top-img {
  position: relative;
  user-select: none;
  height: 300px;
  width: 500px;
  object-fit: cover;
}

.cardimage-up .cardimage-up-right {
  flex-basis: 50%;
  flex-grow: 1;
}

.cardimage-down {
  display: flex;
  justify-content: start;
  align-items: left;
  flex-wrap: wrap;
}

.cardimage-down li {
  list-style: none;
}

.cardimage-down p {
  text-align: left;
}

.cardimage-down .cardimage-down-left {
  width: 500px;
  display: block;
  flex-basis: auto;
  height: auto;
  flex-grow: 1;
}

.cardimage-down .cardimage-down-right {
  flex-basis: 50%;
  flex-grow: 1;
}

/*ギャラリー*/
.gallery-wrap {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  padding-bottom: 2px;
  margin: 0 2em 0;
  scroll-behavior: smooth;
}

.gallery-wrap li {
  flex: 0 0 90%;
  margin: 0 10px;
  height: 100%;
}

@media screen and (max-width: 480px) {
  gallery-content {
    flex: 0 0 88%;
    margin: 0px 5px;
    scroll-snap-align: center;
  }
}

/*検索欄*/
.input-group {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 10px;
}

.input-group input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  flex: 1;
  display: block;
  width: 200px;
  -webkit-appearance: none;
}

/*スクロールバー*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: solid 4px transparent;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}
